/*
 * Copyright (c) 2025 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/* not essential (at) below section
 *
 * / {
 * 	chosen {
 * 		zephyr,console = &uart20;
 * 		zephyr,shell-uart = &uart20;
 * 	};
 * };
 * 
 * &uart20 {
 * 	status = "okay";
 * 	current-speed = <115200>;
 * };
 */
